body {
  font-family: "PT Sans Narrow", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  min-width: 1122px;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
header,
footer,
.btn {
  color: #ffffff;
}
header {
  font-size: 16px;
  line-height: 20px;
}
.main-header {
  margin-bottom: 60px;
  background-color: #000000;
}
.header-logo {
  float: left;
  width: 111px;
  padding: 0 20px;
  min-height: 70px;
  margin-right: 10px;
}
.main-navigation {
  float: left;
  width: 530px;
  min-height: 70px;
}
.user-block {
  float: right;
  width: 85px;
  min-height: 70px;
}
.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}
.features {
  color: #f7f4f1;
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}
.features-item:last-child {
  margin-right: 0;
}
.features-name {
  font-size: 30px;
  line-height: 42px;
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}
.index-content-title {
  font-size: 30px;
  line-height: 42px;
}
.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}
.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}
.breadcrumbs {
  margin-bottom: 45px;
}
.breadcrumbs-shop {
  font-size: 14px;
  line-height: 20px;
}
.active {
  color: #aba9a7;
}
.catalog-left {
  float: left;
  width: 220px;
  min-height: 590px;
}
.catalog-left-title,
.item-title {
  font-size: 24px;
  line-height: 30px;
}
.catalog-left-title label {
  line-height: 18px;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
.catalog-right {
  float: right;
  width: 700px;
  line-height: 18px;
}
.products-item {
  float: left;
  width: 220px;
  min-height: 290px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.products-item:nth-child(3n+3) {
  margin-right: 10px;
}
.item-left {
  float: left;
  width: 460px;
  min-height: 670px;
}
.item-right {
  float: right;
  width: 400px;
  min-height: 670px;
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}
.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}
.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}
.modal-login {
  width: 300px;
  height: 388px;
  line-height: 1.2;
  padding-left: 100px;
  padding-right: 100px;
}
.modal-title {
  font-size: 30px;
}
/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}
